/* To completely remove the header bar */
.site-header {
    background-color: transparent;
    border-bottom: none;
}

.navbar a.active {
  font-weight: bold;
}

.page-link.active {
  font-weight: bold;
  color: #000; /* You can customize the color or other styles here */
}

.page-link {
  font-weight: bold;
}
